__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.pylint-cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
build/
dist/
.databricks/
.venv/
.env
evaluation-results.json
mlruns/
mlruns-test/
mlartifacts/
mlflow*.db
mlflow*.db-*
